html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: #F6F8FA;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.main-bg {
  min-height: 93vh;
  width: 100vw;
  padding: 0;
  background: #F6F8FA;
}